<template>
  <div id="product-list-one">
      <p>降价后的商品</p>
      <ul>
          <li v-for="product in saleProducts" v-bind:key="product.value">
            <span class="name">{{product.name}}</span>
            <span class="name">${{product.price}}</span>
          </li>
      </ul>
      <button @click="reducePrice(4)">商品降价</button>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import {mapActions} from 'vuex';

export default {
  data () {
    return {
    }
  },
  computed:{
    products(){
      //获取vuex的store中的商品数据
      return this.$store.state.products;
    },
    /*
    saleProducts(){
      //获取打折后的商品信息
      return this.$store.getters.saleProducts;
    }
    */
    ...mapGetters([//在这个传入的数组里写store中getters里的方法
      "saleProducts",
    ])
  },
  methods:{
    /*
    reducePrice(amount){
      //点击商品降价时触发的函数,在这里调用mutation进行降价
      // this.$store.commit("reducePrice");

      //改成调用action,再由action去调用mutation.这里可以进行传参
      this.$store.dispatch("reducePrice",amount);
    }
    */
    ...mapActions([
      "reducePrice",
    ])
  }
}
</script>

<style>

</style>
