<template>
  <div id="product-list-two">
      <p>降价前的商品</p>
      <ul>
          <li v-for="product in products" v-bind:key="product.value">
            <span class="name">{{product.name}}</span>
            <span class="name">${{product.price}}</span>
          </li>
      </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed:{
    products(){
      return this.$store.state.products;
    }
  }
}
</script>

<style>

</style>
