<template>
  <div id="app">
    <!-- 传统的组件通信方式 -->
    <!-- <product-list-one v-bind:products="products"></product-list-one> -->
    <!-- <product-list-two v-bind:products="products"></product-list-two> -->
    
    <!-- 现在使用vuex管理数据和通信,不再需要上面的方式 -->
    <product-list-one></product-list-one>
    <product-list-two></product-list-two>
  </div>
</template>

<script>
import productListOne from './conponents/productListOne';
import productListTwo from './conponents/productListTwo';

export default {
  name: 'app',
  data () {
    return {
     
    }
  },
  components:{
    'product-list-one':productListOne,
    'product-list-two':productListTwo
  }
}
</script>

<style>

</style>
